
   .detail-input{
    @apply flex h-3/5 w-full justify-between
   }

 .error{
        height:100% ;
    width: 10%;
 }  



#tooltip-error{
    height: 100%;
    color: red;
}
#tooltip-correct
{
    height: 100%;
    color:green;
    width: 100%;
}

.tooltiptext-error{
  
    visibility: hidden;
    max-width: 150px;
    background-color:  red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 5px;
    height: fit-content;
    font-size: small;
    border: 2px solid black;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

   #tooltip-error:hover .tooltiptext-error{
    visibility: visible;
  }

 

   .form{
    @apply flex flex-col justify-around h-2/5
   }
   .detail{ 

    @apply flex flex-col justify-between mx-4 h-1/5
   }
   .btn{

    @apply flex flex-col justify-center items-center h-1/5
   }

 #signup_button{
    @apply  h-1/2 w-3/5 hover:bg-slate-500 bg-[#7c7ccf] rounded-lg 
 }

   .btn p{
    @apply h-1/2
   }

   .detail label{
    @apply h-2/5 border-none
   }
.detail input{
    @apply h-full w-4/5 border-2 divide-solid p-1.5 rounded-md border-[#7f7a97]
}

