.top_bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 89vh;
}

.top_bar .problem_desc
{
    display: flex;
    flex-direction: column;
    width: 49%;
    justify-content: space-between;
 
    
}

.top_bar .problem_desc ul{
    display: flex;
    height: 7%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.problem2 h2{
    height: fit-content;
}

.top_bar .problem_desc .problem2{
    border : 2px solid blue;
    
    justify-content: space-around;
    padding: 2%;
    overflow-y: scroll;
    height: 90%;
}
.top_bar .problem_desc .problem2 .examples{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78%;
}

.title-example{
    height: fit-content;
}

.title-input ,.title-output ,.title-explaination{
    height: fit-content;
}


.example-input,.example-output,.example-explaination{
    height: fit-content;
}

.top_bar .problem_desc .problem2 .examples .top-examples1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}
li{
    height: 100%;
}

.example2{
    height :fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#language{
    height: 100%;
}
.top_bar .problem_desc .problem2 .examples .top-examples1 .example2,.top_bar .problem_desc .constraints .const-desc {
    padding:2%;
    background-color: blueviolet;
    border: 2px solid gray;
    border-radius: 5px;
}
.top_bar .problem_desc .problem2 .pdesc{
    height : fit-content;
   
}


.top_bar .problem_desc ul li{
    width: 25%;
}

.top_bar .Notepad{
    width: 49%;
    
}

.top_bar .Notepad .language_selector{
    height: 45px;
    display: flex;
    justify-content: flex-start;
}

.top_bar .Notepad .notepad
{
    border : 2px solid blue;
    height: 53%;

}

.top_bar .Notepad .notepad textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: aqua;
    border-color: aqua;
}
.top_bar .Notepad .test-case{
    height: 16%;
    width: 98%;
}

.test-case textarea{
    width :100%;
    height : 60%;
    resize: none;
}
.top_bar .Notepad  #btn{
    display: flex;
    justify-content: flex-end;
    margin : 2%;
}

.top_bar .Notepad  #btn button{ 
      margin : 0% 2% 0% 2%;
      width: 20%;
      height :34px;
      border: 2px solid black;
      border-radius: 7px;
}




.top_bar .problem_desc .constraints{
    display: flex;
    flex-direction: column;

}

.title-constraint{
    height: fit-content;
}

.constraint-description{
    height: fit-content;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 15px;
}

.constraints{
    height: 30%;;
}
